@model BillsListViewModel

<form asp-action="GetBills"
      asp-controller="Home"
      method="post"
      enctype="multipart/form-data">
    @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @onchange="setEndDate(event);" , @type = "date"})
    @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @type = "date"})
    <button class="" type="submit">Pokaż</button>
</form>

<div id="billsTable">
    @{
        Html.RenderPartial("Table.cshtml", Model.Bills);
    }
</div>


@{
    Html.RenderPartial("~/Views/Modals/MenuItemsModalView.cshtml");
}

