@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    <form asp-controller="Home" asp-action="CheckPassword" method="post">
        Hasło:
        @Html.Password("password")
        <button type="submit" class="btn btn-primary">Ok</button>
    </form>
</div>
